.section {
    padding: 4rem 8vw;
    width: 100vw;
    background-color: white;
    color: #00A888;

    &.inverse{
        background-color: #00A888;
        color: white;
    }

    &.black{
        background-color: black;
        color: white;
    }
}