.splash{
    width: 100vw;
    height: 100vh;
    background-color: grey;
    color: white;
    text-align: center;
}

.rightArrow {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 2rem;
  }
  
  .leftArrow {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 2rem;
  }